@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

body {
  /* height: 100vh; */
  background-color: #f8f8f8;
  /* overflow: hidden; */
  /* background: rgb(128, 120, 255); */
  /* background: linear-gradient(160deg, rgba(128, 120, 255, 1) 0%, rgba(51, 0, 153, 1) 100%); */
}

.bgColor {
  background: rgb(128, 120, 255);
  background: linear-gradient(160deg, rgba(128, 120, 255, 1) 0%, rgba(51, 0, 153, 1) 100%);
}