.inputClass {
  @apply border-[1px] border-gray-400 w-full px-2 py-1 text-gray-700 outline-none hover:border-blue-500 focus:border-blue-500
}

.selectClass {
  @apply border-[1px] border-gray-400 w-full px-2 py-1 outline-none hover:border-blue-500 focus:border-blue-500
}

.inputError {
  @apply border-[1px] border-red-500 w-full px-2 py-1 outline-none hover:border-red-500 focus:border-red-500
}

.lower-field {
  @apply md:w-[19.5%]
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn:hover {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.error-message {
  @apply text-xs text-red-500 absolute bottom-0;
}